extends layout

mixin card(header, content)
        .card
            .card-header
                p.card-header-title #{header}
            .card-content
                .content #{content}

block append breadcrumb
    li
        a
            span.icon
                i.fas.fa-lightbulb
            span  Concepts

block content
    - var concepts = [ {name: "PostgreSQL", type: "jsonnet", version: "1.1.0-beta4", maintainer: "Michele Tarantino"}, {name: "MySQL",type: "jsonnet", version: "1.0.0", maintainer: "Trostan Mírsson"}, { name: "Redis",type: "jsonnet", version: "1.3.0", maintainer: "Mateo Valdueza"}, { name: "Memcached",type: "helm", version: "2.3.1", maintainer: "Unknown"} ]
    - var stableconcepts = 2
    - var betaconcepts = 1
    - var alphaconcepts = 0
    .box
        nav.level.is-mobile
            .level-item.has-text-centered
                div
                    p.heading Concepts
                    p.title #{concepts.length}
            .level-item.has-text-centered
                div
                    p.heading Stable
                    p.title #{stableconcepts}
            .level-item.has-text-centered
                div
                    p.heading Beta
                    p.title #{betaconcepts}
            .level-item.has-text-centered
                div
                    p.heading Alpha
                    p.title #{alphaconcepts}
    .container
        .result-head.mb-4
            .subtitle.mb-1 Concepts
            //span.tag.is-success.is-light.mr-2
            //    .icon
            //        .fa.fa-lock
            //    span Private
            //span.tag.is-white.mr-2
            //    .icon
            //        .fa.fa-lock-open
            //    span Public
        .result-grid
            each val, index in concepts
                .card-entry
                    .card-shields
                        span.card-shield.is-info.is-light
                            .icon
                                .fa.fa-code-branch
                            | #{val.version}
                    .card-content
                        .title.is-size-4 #{val.name}
                        .content.is-size-7
                            p
                                | This is a demo description, that is not dynamic at all. Good thing about it is, that
                                | one can easily measure spacing and typography this way.
                            .tile.is-horizontal
                                .tile.is-child
                                    .block
                                        strong Maintainer
                                        p #{val.maintainer}
                                .tile.is-child
                                    .block
                                        strong Type
                                        p #{val.type}
                    footer.card-footer
                        a.card-footer-item.has.has-text-black
                            | Details
