extends layout.pug

block title
    title Kable - Repositories

block append breadcrumb
    li
        a(href="repos.pug")
            span.icon
                i.fas.fa-bookmark
            span  Repositories


block content
    .box
        nav.level.is-mobile
            .level-item.has-text-centered
                div
                    p.heading Repos
                    p.title #{repos.length}
            .level-item.has-text-centered
                div
                    p.heading Public
                    p.title #{pubrepos}
            .level-item.has-text-centered
                div
                    p.heading Private
                    p.title #{privrepos}
    .container
        .result-head.mb-4
            .subtitle.mb-1 Repositories
            //span.tag.is-success.is-light.mr-2
            //    .icon
            //        .fa.fa-lock
            //    span Private
            //span.tag.is-white.mr-2
            //    .icon
            //        .fa.fa-lock-open
            //    span Public
        .result-grid
            each val, index in repos
                .card-entry
                    if val.private
                        .card-shields
                            span.card-shield.is-success.is-light
                                .icon
                                    .fa.fa-lock
                    else
                        .card-shields
                            span.card-shield
                                .icon
                                    .fa.fa-lock-open
                    .card-content
                        .title.is-size-4 #{val.name}
                        .content.is-size-7
                            p
                                | This is a demo description, that is not dynamic at all. Good thing about it is, that
                                | one can easily measure spacing and typography this way.
                            .tile.is-horizontal
                                .tile.is-child
                                    .block
                                        strong Maintainer
                                        if val.maintainer
                                            p #{val.maintainer}
                                        else
                                            p Unknown
                    footer.card-footer
                        a.card-footer-item
                            | Browse
                        a.card-footer-item.danger
                            | Delete
